.form {
    display: flex;
    gap: 2vh;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.submitButton {
    height: 100%;
    width: 4vh;
    border-radius: 10vh;
}

.submitButton:hover {
    background-color: rgb(104, 103, 102);
}

.submitButton:active {
    background-color: rgb(29, 204, 181);
}

.textInput {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vh;
    border-radius: 10vh;
    padding: 1.5vh;
}